# dependencies
node_modules/

# environment variables
.env
.env.local

# logs
logs
*.log
npm-debug.log*

# runtime data
pids
*.pid
*.seed
*.pid.lock

# coverage
coverage/

# system files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# temp files
tmp/
temp/
